@tailwind base;
@tailwind components;
@tailwind utilities;

.login-page{
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/ab180a27-b661-44d7-a6d9-940cb32f2f4a/7fb62e44-31fd-4e1f-b6ad-0b5c8c2a20ef/IN-en-20231009-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    width: 100vw;
    height: 100vh;
}

@media screen and (min-width: 1020px)  and (max-width:1440px){
    .custom-responsive-design {
      /* background-color: lightgreen; */
      width: 50%;
      padding-top: 10%;
    }
  }

  @layer utilities {
      @variants responsive {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }
  
        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
      }
    }